<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">AMP</label>
    <label lang="en">AMP</label>

    <version>2.2.0</version>
    <license>proprietary</license>
    <link>https://www.ksk-agentur.de/</link>
    <author>KSK-Agentur</author>
    <compatibility minVersion="5.2.0" />

    <changelog version="1.0.0">
        <changes lang="de">Erstveröffentlichung</changes>
    </changelog>
    <changelog version="1.0.1">
        <changes lang="de">Konflikte mit anderen Plugins behoben. Außerdem kleinere Bugfixes.</changes>
    </changelog>
    <changelog version="1.0.2">
        <changes lang="de">Template-Konflikte behoben.</changes>
    </changelog>
    <changelog version="1.0.3">
        <changes lang="de">Neue Template-Struktur. Außerdem einige Links korrigiert.</changes>
    </changelog>
    <changelog version="1.0.4">
        <changes lang="de">Strukturierte Daten hinzugefügt.</changes>
    </changelog>
    <changelog version="1.0.5">
        <changes lang="de">Template-Überladung ermöglicht. Dazu ein Theme mit dem Namen "HeptacomAmp" anlegen und darin im Ordner "frontend/heptacom_amp/" das Template überladen.</changes>
    </changelog>
    <changelog version="2.0.0">
        <changes lang="de">Upgrade auf die neue Plugin-Struktur und Generalüberholung.</changes>
        <changes lang="de">AMP Standardtheme näher am Shopware Standard.</changes>
        <changes lang="de">Fehlende Features basierend auf Javascript ersetzt durch entsprechende AMP-Komponenten.</changes>
        <changes lang="de">Fehlerkorrektur für bessere AMP Kompatibilität.</changes>
        <changes lang="de">Kompression für noch weniger Datenverkehr an Mobilgeräte.</changes>
        <changes lang="de">LESS Styling fehlerfrei verfügbar dank Fehlerkorrektur.</changes>
        <changes lang="de">Systemanalyse um AMP Validität sicherzustellen.</changes>
    </changelog>
    <changelog version="2.0.1">
        <changes lang="de">Ladefehler von Drittkomponenten korrigiert.</changes>
        <changes lang="de">Bewertungen hinzugefügt für Artikeldetailseiten.</changes>
    </changelog>
    <changelog version="2.0.2">
        <changes lang="de">Probleme mit den Herstellerseiten behoben.</changes>
    </changelog>
    <changelog version="2.0.3">
        <changes lang="de">Ungültiger Include-Tag entfernt.</changes>
        <changes lang="de">Ungültige @import-Rules entfernt.</changes>
    </changelog>
    <changelog version="2.0.4">
        <changes lang="de">Inaktive Artikel mit dem CacheWarmer ignoriert.</changes>
    </changelog>
    <changelog version="2.1.0">
        <changes lang="de">Systemanalyse verbessert in der Erkennung von öffentlichen Artikeln.</changes>
        <changes lang="de">Systemanalyse unterteilt auf einzelne Sub- und Sprachshops.</changes>
        <changes lang="de">Systemanalyse unterteilt auf einzelne Kategorien je Shop.</changes>
    </changelog>
    <changelog version="2.1.1">
        <changes lang="de">Fehler beim Laden von Kategorien mit verwaisten Artikel behoben.</changes>
    </changelog>
    <changelog version="2.1.2">
        <changes lang="de">Performance des Rendern einer AMP-Seite verbessert durch das Cachen von Stylesheet-Optimierungen (bis zu 110% schneller; benötigt nur noch 85% der ursprünglichen Zeit).</changes>
        <changes lang="de">Laden von Drittkomponenten optimiert.</changes>
    </changelog>
    <changelog version="2.1.3">
        <changes lang="de">Bug behoben: Beschreibungs- und Cross-Selling-Tabs lassen sich wieder öffnen.</changes>
        <changes lang="de">Bug behoben: Das Menü (Sidebar) lässt sich jetzt wieder öffnen.</changes>
    </changelog>
    <changelog version="2.1.4">
        <changes lang="de">Lizenz-Prüfung entfernt</changes>
        <changes lang="de">IonCube-Verschlüsselung entfernt</changes>
        <changes lang="de">Veröffentlichung auf Github</changes>
    </changelog>
    <changelog version="2.1.5">
        <changes lang="de">Performance-Optimierungen im Backend-Modul</changes>
    </changelog>
    <changelog version="2.1.6">
        <changes lang="de">Nutzung des obsoleten smarty-Modifiers 'rewrite' entfernt.</changes>
        <changes lang="de">'In den Warenkorb'-Knopf an 5.3 Textbausteinen angepasst.</changes>
    </changelog>
    <changelog version="2.1.7">
        <changes lang="de">Bugfix: SQL-Bedingung beim Vorbereiten des Cache-Warmers</changes>
    </changelog>
    <changelog version="2.1.8">
        <changes lang="de">Inkorrekte Artikel-URLs in Kategorieseiten behoben</changes>
    </changelog>
    <changelog version="2.1.9">
        <changes lang="de">Bugfix: Laden von vielen Kategorien parallel führte zum Neuladen des Shopware Backends.</changes>
    </changelog>
    <changelog version="2.1.10">
        <changes lang="de">Feature: Support für das Core-Plugin "Notification".</changes>
        <changes lang="de">Bugfix: Kompatibilität für eigene Artikeldetail-Templates hinzugefügt.</changes>
        <changes lang="de">Bugfix: Bewerten-Link scrollt jetzt zum Bewertungsbereich.</changes>
        <changes lang="de">Bugfix: Gleichzeitige Auswahl mehrer Konfiguratoren behoben (Github Issue #1).</changes>
        <changes lang="de">Bugfix: Konfiguration zurücksetzen ermöglicht (Github Issue #2).</changes>
    </changelog>
    <changelog version="2.1.11">
        <changes lang="de">Bugfix: Kategorie- und Inhaltsseiten waren ohne Inhalt bzw. haben einen Fehler geworfen.</changes>
    </changelog>
    <changelog version="2.2.0">
        <changes lang="de">Feature: Multishopsupport. Die Pluginkonfiguration ermöglicht das de- und aktivieren von AMP je Subshop.</changes>
        <changes lang="de">Feature: Multishopsupport. Die Pluginkonfiguration ermöglicht das Wählen eines AMP Themes je Subshop.</changes>
        <changes lang="de">Feature: YouTube Einbettung unterstützt.</changes>
        <changes lang="de">Bugfix: Benutzung von verbotenem font-Tag in amp-valides HTML umgewandeln.</changes>
        <changes lang="de">Bugfix: Inline-Styles werden nun gefiltert.</changes>
        <changes lang="de">Bugfix: Fehlendes Template für nicht verfügbare Artikel hinzugefügt.</changes>
        <changes lang="de">Bugfix: AMP Backend listet keine "nicht verfügbaren" Artikel auf.</changes>
        <changes lang="de">Bugfix: Relative URLs im Stylesheet werden alle korrigiert.</changes>
        <changes lang="de">Bugfix: Alle eigene Schriftarten erlaubt.</changes>
        <changes lang="de">Bugfix: Aktueller Kundenlogin beim Validieren ignoriert.</changes>
    </changelog>
    <changelog version="2.3.0">
        <changes lang="de">Feature: Optionaler Debugmodus. Für Untersuchungen kann die AMP-Ansicht generiert werden, die für uns zu Untersuchungszwecken notwendig ist.</changes>
        <changes lang="de">Bugfix: Fälschlicherweise script-Tag als AMP-valide eingestuft.</changes>
        <changes lang="de">Bugfix: Fehlende strukturierte Information zum Preis nachgetragen.</changes>
    </changelog>
</plugin>
