<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element scope="shop" type="boolean">
            <name>active</name>
            <label>Active</label>
            <label lang="de">Aktiv</label>
            <value>1</value>
        </element>
        <element scope="shop" type="boolean">
            <name>debug</name>
            <label>Debug mode</label>
            <label lang="de">Untersuchungsmodus</label>
            <value>0</value>
        </element>
        <element scope="shop" type="text">
            <name>theme</name>
            <label>Theme</label>
            <label lang="de">Theme</label>
            <value>HeptacomAmp</value>
        </element>
    </elements>
</config>
