<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/menu.xsd">
    <entries>
        <entry>
            <name>AMP</name>
            <label lang="de">AMP</label>
            <label lang="en">AMP</label>
            <controller>HeptacomAmpOverview</controller>
            <action>index</action>
            <class>sprite-lightning</class>
            <parent identifiedBy="controller">Marketing</parent>
            <onclick>Shopware.ModuleManager.createSimplifiedModule("HeptacomAmpOverview", {"title": "HEPTACOM AMP"})</onclick>
        </entry>
    </entries>
</menu>